---
import LayoutSidebar from "../app/LayoutSidebar.astro";
---

<LayoutSidebar>
  <div class="grid gap-4 p-4">
    <h2 class="text-2xl font-bold tracking-tight">Pay Gap Ranking</h2><div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="group overflow-hidden rounded-lg shadow-lg">
        <a class="absolute inset-0 z-10" href="#"
          ><span class="sr-only">View EduHacks</span></a
        ><img
          src="https://d112y698adiu2z.cloudfront.net/photos/production/challenge_thumbnails/002/701/853/datas/original.png"
          alt="Eduhacks logo"
          width="300"
          height="300"
          class="object-cover w-full h-60 group-hover:opacity-75 transition-opacity"
          style="aspect-ratio: 300 / 300; object-fit: scale-down;"
        /><div class="bg-white p-4 dark:bg-gray-950">
          <h3 class="font-semibold text-lg md:text-xl">EduHacks</h3><p
            class="text-sm text-gray-500 dark:text-gray-400">
            Rank: 1
          </p>
        </div>
      </div><div class="group overflow-hidden rounded-lg shadow-lg">
        <a class="absolute inset-0 z-10" href="#"
          ><span class="sr-only">View Grab</span></a
        ><img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Grab_%28application%29_logo.svg/2560px-Grab_%28application%29_logo.svg.png"
          alt="Grab"
          width="300"
          height="300"
          class="object-cover w-full h-60 group-hover:opacity-75 transition-opacity"
          style="aspect-ratio: 300 / 300; object-fit: scale-down;"
        /><div class="bg-white p-4 dark:bg-gray-950">
          <h3 class="font-semibold text-lg md:text-xl">Grab</h3><p
            class="text-sm text-gray-500 dark:text-gray-400">
            Rank: 2
          </p>
        </div>
      </div><div class="group overflow-hidden rounded-lg shadow-lg">
        <a class="absolute inset-0 z-10" href="#"
          ><span class="sr-only">View AWS</span></a
        ><img
          src="https://blog.adobe.com/en/publish/2021/08/31/media_1649ebc3fbbce0df508081913819d491fc3f7c7a9.png?width=1200&format=pjpg&optimize=medium"
          alt="AWS"
          width="300"
          height="300"
          class="object-cover w-full h-60 group-hover:opacity-75 transition-opacity"
          style="aspect-ratio: 300 / 300; object-fit: cover;"
        /><div class="bg-white p-4 dark:bg-gray-950">
          <h3 class="font-semibold text-lg md:text-xl">AWS</h3><p
            class="text-sm text-gray-500 dark:text-gray-400">
            Rank: 3
          </p>
        </div>
      </div>
    </div>
  </div>
</LayoutSidebar>
