---
import LayoutSidebar from '../app/LayoutSidebar.astro';
const ret = "";
---

<LayoutSidebar>
    <!-- upload -->
    <div class="bg-white p-6 shadow-md rounded-lg max-w-4xl mx-auto">
    <div class="grid w-full max-w-sm items-center gap-1.5">
  <label
    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    for="paystub"
  >
    Upload Your Paystub
  </label>
  <form>
    <input
    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    id="paystub"
    type="file"
    accept=".jpg,.png"
  />
  <p class="text-sm text-gray-500 dark:text-gray-400">Please upload your paystub in JPG or PNG format.</p>
</form>
  <!-- <p class="text-sm text-green-500 dark:text-green-400">Your file has been successfully uploaded.</p> -->
</div>
  <div class="flex flex-col space-y-4">
    <div  class="grid grid-cols-2 gap-4">
      <div>
        <div class="font-bold">Employee Name:</div>
        <div id="name" class="text-sm">-</div>
      </div>
      <div>
        <div class="font-bold">Company Name:</div>
        <div id="company-name" class="text-sm">-</div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="font-bold">Pay period:</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="pay-period"
        />
      </div>
      <div>
        <div class="font-bold">Designation:</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="2"
          id="designation"
        />
      </div>
      <div>
        <div class="font-bold">Department</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="2"
          id="department"
        />
      </div>
      <div>
        <div class="font-bold">Basic</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="27.00"
          id="basic"
        />
      </div>
      <div>
        <div class="font-bold">Incentive</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="840.00"
          id="incentive"
        />
      </div>
      <div>
        <div class="font-bold">Allowance</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="$ 452.43"
          id="allowance"
        />
      </div>
      <div>
        <div class="font-bold">Provident Fund</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="40.00"
          id="provident-fund"
        />
      </div>
      <div>
        <div class="font-bold">Loan</div>
        <input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="16.00"
          id="loan"
        />
      </div>
    </div>
  </div>
</div>


<script>

import { createWorker } from 'tesseract.js';


function analyze(blob) {
    (async () => {
    const worker = await createWorker('eng');
    const ret = await worker.recognize(blob);
    console.log(ret.data.text);

    document.getElementById('company-name').innerText = ret.data.text.split("\n")[1];
    document.getElementById('name').innerText = ret.data.text.split("name : ")[1].split("\n")[0];
    (document.getElementById('pay-period') as HTMLInputElement).value = ret.data.text.split("Pay Period : ")[1].split("D")[0];
    (document.getElementById('designation') as HTMLInputElement).value = ret.data.text.split("Designation : ")[1].split("\n")[0];
    (document.getElementById('department') as HTMLInputElement).value = ret.data.text.split("Department : ")[1].split("\n")[0];
    (document.getElementById('loan') as HTMLInputElement).value = ret.data.text.split("Loan")[1].split("\n")[0];


    (document.getElementById('basic') as HTMLInputElement).value = ret.data.text.split("Basic")[1].split("\n")[0];
    (document.getElementById('provident-fund') as HTMLInputElement).value = ret.data.text.split("Provident Fund")[1].split("\n")[0];
    (document.getElementById('allowance') as HTMLInputElement).value = ret.data.text.split("Allowance")[1].split("\n")[0];
    (document.getElementById('incentive') as HTMLInputElement).value = ret.data.text.split("Incentive")[1].split("\n")[0];
    await worker.terminate();
    })();
};

function handleFileUpload() {
    const fileInput = document.getElementById('paystub') as HTMLInputElement;
    if (fileInput && fileInput.files) {
        const file = fileInput.files[0];

        if (file) {
            const reader = new FileReader();
            reader.readAsArrayBuffer(file);
            reader.onload = function() {
                const arrayBuffer = reader.result as ArrayBuffer;
                const blob = new Blob([arrayBuffer]);
                const results = analyze(blob);  // Call the analyze function with the blob
                return results;
            };
            reader.onerror = function(error) {
                console.error('Error reading file:', error);
            };
        }
    }
}

document.getElementById('paystub').addEventListener('change', handleFileUpload);
</script>

</LayoutSidebar>